# Configuration file
# Generated on 27/12/12 17.36

####################
# item
####################

item {
    I:goldenWoodenPipe=31731
    I:insertionPipe=31732
    I:switchPipeItems=31743
    I:switchPipeLiquids=31742
    I:switchPipePower=31741
}


